<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,700;1,600&display=swap" rel="stylesheet">
  <title></title>
</head>

<body>

<div class="div1">

  <div class="logo"></div>
  <p class="n1">Как это работает</p>
  <p class="n2">Цены</p>
  <p class="n2">Цены</p>
  <p class="n3">Помощь</p>
  <div class="but"></div>
  <p class="n4">Войти</p>

  <p class="h1">Запустите свой лучший продукт через Метавселенную</p>

  <p class="h2">Мы предоставляем лучший сервис для продукта вашей компании в реальном мире</p>

  <div class="img"></div>

  <div class="but2"></div>
  <p class="go">Начать</p>
  <img src="../img/Group 1.svg" alt="eee" class="t3">
  <p class="dem">Демоверсия</p>
  <p class="brend">Бренды, которые нам доверяют</p>
  <img src="../img/Company logo.svg" alt="" class="l1">
  <img src="../img/Company logo-1.svg" alt="" class="l2">
  <img src="../img/Company logo-2.svg" alt="" class="l3">
  <img src="../img/Company logo-3.svg" alt="" class="l4">

</div>

</body>
</html>